.new-landings-wrap {
  font-family: 'Poppins',Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 18px;
  p {
    margin: 0;
  }
  h1, h2 {
    color: #000;
  }
  h1 {
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.32em;
    margin-bottom: 16px;
    margin-top: 0;
    letter-spacing: 2.5px;
  }
  h2 {
    font-size: 38px;
    line-height: 1.4em;
    font-weight: normal;
  }
  .section-holder {
    max-width: 1624px;
    width: calc(100% - 30px);
  }
}

.hm-btn.vc_btn3-container button.vc_btn3, .hm-btn.vc_btn3-container a.vc_btn3, a.hm-btn {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background: #000;
  font-weight: 500;
  border-radius: 33px;
  padding: 19px;
  text-align: center;
  border: none;

  &:hover {
    background: #000;
    color: #fff;
    box-shadow: 0 12px 12px 0 rgba(200,200,200,.7), 0 6px 6px 0 rgba(200,200,200,.8), 0 2px 2px 0 #c8c8c8;
  }
}

.hm-btn.vc_btn3-container.hm-btn-orange button.vc_btn3,
.hm-btn.vc_btn3-container.hm-btn-orange a.vc_btn3, a.hm-btn-orange {
  background: linear-gradient(to right, #FF8400 0%, #F8765E 100%);
  &:hover {
    background: linear-gradient(to right, darken(#FF8400, 5%) 0%, darken(#F8765E, 5%) 100%);
    box-shadow: none;
  }
  &:active, &:focus {
    color: #fff;
  }
}
.hm-btn.vc_btn3-container.hm-btn-white {
  button.vc_btn3, a.vc_btn3 {
    color: $base-orange;
    background: #fff;
    &:hover {
      background: #eee;
      box-shadow: none;
    }
  }
}
.hm-btn-small {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 22px;
  padding: 7px 39px;
  text-align: center;
  border: none;
  background: linear-gradient(to right, #FF8400 0%, #F8765E 100%);
  &:hover {
    background: linear-gradient(to right, darken(#FF8400, 5%) 0%, darken(#F8765E, 5%) 100%);
    color: #fff;
  }
}
.page-template-template-new-landing .mobmenu {
  display: none;
}
.page-template-template-new-landing {
  padding-top: 0!important;
}

@media only screen and (max-width:767px) {
  .new-landings-wrap {
    h1 {
      font-size: 26px;
      letter-spacing: 1px;
    }
    h2 {
      font-size: 24px;
    }
  }

}